.help-container {
    height: calc(100vh - 80px - 150px);
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.navbar-icon {
    margin-right: 0.5rem;
  }
.loginBtnCon{
    display: block;
}

.helpImg{
    width: auto;
    height: 50vh;
}