a {
  text-decoration: none;
  color: white ;
  }

.content-wrapper{
    width: 100vw
}
.content-img{
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content-wrapper {
    font-size: calc(15px + 0.390625vw);
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.content-btn-left {
   display: inline-block;
   left: 0%;
}

.content-btn-right {
    display: inline-block;
    right: 0%;
 }

 .ProgessBar{
    position: relative;
    width: 100vw;
    height: calc(5px + 0.390625vh);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
  }
  progress[value]::-webkit-progress-bar {
    background-color: #d1d1d1;
    border-radius: 4px;
  
  }
  progress[value]::-webkit-progress-value {
   background-color: #276afb;
  
  }

  .MatterScene{
    width: 100%;
    height: auto;
    display: block;
  }

.QuestionFormContainer{
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.fill-height {
  height: calc(100vh - 114px);
}

.blockly-fill-height{
  height: calc(70vh - 114px);
}

.finalpage-container {
  height: clamp(700px,75vh,100vh);
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}


@media only screen and (min-width: 768px) {
    .content-wrapper{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        width: 70%;
        margin: auto;
        margin-top: 5vh;
        margin-bottom: 10vh;
    }
    .btn-warpper{
        position: relative;
        width: 100%;
        height: auto;
     }
     .MatterScene{
      position: relative;
      width: 100%;
      height: auto;
      display: block;
    
    }
}