.highlight-yellow{
    background-color: #FBF595;
}

.highlight-yellow{
    background-color: #ffc57a;
}

.highlight-yellow{
    background-color: #FFABAB;
}

.highlight-yellow{
    background-color: #BFFCC6;
}

.highlight-yellow{
    background-color: #A79AFF;
}