.highlight-yellow{
    background-color: #FBF595;
}

.highlight-orange{
    background-color: #ffc57a;
}

.highlight-red{
    background-color: #FFABAB;
}

.highlight-green{
    background-color: #BFFCC6;
}

.highlight-blue{
    background-color: #A79AFF;
}

.highlight-block{
    display: inline-block;
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid grey;    
}